<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <a href="/request_token">Twitter Login</a>
    <%= session[:screen_name] %>
    <img src="<%= session[:profile_image] %>" alt="">
  </body>
</html>
